<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzs.learn.log.dao.SysPerfLogMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gzs.learn.log.po.SysPerfLogPo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="meta_id" jdbcType="BIGINT" property="metaId" />
        <result column="execute_timespan" jdbcType="INTEGER" property="executeTimespan" />
        <result column="params_in" jdbcType="LONGVARCHAR" property="paramsIn" />
        <result column="params_out" jdbcType="LONGVARCHAR" property="paramsOut" />
        <result column="code" jdbcType="INTEGER" property="code" />
        <result column="errmsg" jdbcType="LONGVARCHAR" property="errmsg" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    </resultMap>

    <sql id="Base_Column_List">
        id, meta_id, execute_timespan, params_in, params_out,code, errmsg,create_time,timestamp
    </sql>

    <select id="searchPerfLogs" resultMap="BaseResultMap" parameterType="com.gzs.learn.log.inf.search.SysPerfLogSearchDto">
        select
            <include refid="Base_Column_List" />
        FROM
            sys_perf_log pl join sys_perf_log_meta m on pl.meta_id = m.id
        <where>
            <if test="createTimeStart != null  and createTimeEnd != null">
                pl.create_time between #{createTimeStart} and #{createTimeEnd}
            </if>
            <if test="product != null and product!=''">
                and m.product=#{product}
            </if>
            <if test="groupName != null and groupName''">
                and m.group_name=#{groupName}
            </if>
            <if test="app != null and app!=''">
                and m.app=#{app}
            </if>
            <if test="clazz != null and clazz!=''">
                and m.clazz=#{clazz}
            </if>
            <if test="method != null and method!=''">
                and m.method=#{method}
            </if>
            <if test="operatorIps != null">
                and m.operator_ip in(
                <foreach collection="operatorIps" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
        </where>
        order by
        id desc
    </select>
</mapper>
