<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzs.learn.log.dao.SysPerfLogCountMapper">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gzs.learn.log.po.SysPerfLogCountPo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="meta_id" jdbcType="BIGINT" property="metaId" />
        <result column="count_date" jdbcType="VARCHAR" property="countDate" />
        <result column="count_duration" jdbcType="VARCHAR" property="countDuration" />
        <result column="execute_total" jdbcType="BIGINT" property="executeTotal" />
        <result column="execute_exception" jdbcType="BIGINT" property="executeException" />
        <result column="execute_sys_exception" jdbcType="BIGINT" property="executeSysException" />
        <result column="execute_biz_exception" jdbcType="BIGINT" property="executeBizException" />
        <result column="execute_time_total" jdbcType="BIGINT" property="executeTimeTotal" />
        <result column="execute_time_avg" jdbcType="DOUBLE" property="executeTimeAvg" />
        <result column="execute_time_max" jdbcType="INTEGER" property="executeTimeMax" />
        <result column="execute_time_min" jdbcType="INTEGER" property="executeTimeMin" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp" />
    </resultMap>

    <sql id="Base_Column_List">
        id, meta_id, count_date, count_duration, execute_total, execute_exception, execute_sys_exception,
        execute_biz_exception, execute_time_total, execute_time_avg, execute_time_max, execute_time_min,
        create_time, timestamp
    </sql>

    <select id="searchPerfCountLogs" resultMap="BaseResultMap" parameterType="com.gzs.learn.log.inf.search.SysPerfLogCountSearchDto">
        select
            <include refid="Base_Column_List" />
        FROM
            sys_perf_log_count plc join sys_perf_log_meta m on plc.meta_id = m.id
        <where>
            <if test="createTimeStart != null  and createTimeEnd != null">
                plc.create_time between #{createTimeStart} and #{createTimeEnd}
            </if>
            <if test="product != null and product!=''">
                and m.product=#{product}
            </if>
            <if test="groupName != null and groupName''">
                and m.group_name=#{groupName}
            </if>
            <if test="app != null and app!=''">
                and m.app=#{app}
            </if>
            <if test="clazz != null and clazz!=''">
                and m.clazz=#{clazz}
            </if>
            <if test="method != null and method!=''">
                and m.method=#{method}
            </if>
            <if test="operatorIps != null">
                and m.operator_ip in(
                <foreach collection="operatorIps" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
        </where>
        order by
            id desc
    </select>
    
    <insert id="saveCountPo" parameterType="com.gzs.learn.log.po.SysPerfLogCountPo">
        insert into sys_perf_log_count(
            meta_id, count_date, count_duration, 
            execute_total, execute_exception, execute_sys_exception,execute_biz_exception, 
            execute_time_total, execute_time_avg, execute_time_max, execute_time_min,
            create_time, timestamp
        )values(
            #{metaId},#{countDate},#{countDuration},
            #{executeTotal},#{executeException},#{executeSysException},#{executeBizException},
            #{executeTimeTotal},#{executeTimeAvg},#{executeTimeMax},#{executeTimeMin},now(),now()
        )
        on duplicate key update 
            execute_total=#{executeTotal}, execute_exception=#{executeException}, execute_sys_exception=#{executeSysException},execute_biz_exception=#{executeBizException},
            execute_time_total=#{executeTimeTotal}, execute_time_avg=#{executeTimeAvg}, execute_time_max=#{executeTimeMax},execute_time_min=#{executeTimeMin}
    </insert>
</mapper>
