<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzs.learn.log.dao.UserOperationLogMapper">
    <resultMap id="BaseResultMap" type="com.gzs.learn.log.po.UserOperationLogPo">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="logtype" property="logtype" jdbcType="VARCHAR" />
        <result column="logname" property="logname" jdbcType="VARCHAR" />
        <result column="operator_ip" property="operatorIp" jdbcType="VARCHAR" />
        <result column="userid" property="userid" jdbcType="BIGINT" />
        <result column="classname" property="classname" jdbcType="VARCHAR" />
        <result column="method" property="method" jdbcType="VARCHAR" />
        <result column="succeed" property="succeed" jdbcType="VARCHAR" />
        <result column="message" property="message" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List">
        id,logtype,logname,operator_ip,userid,classname,method,succeed,message,create_time,timestamp
    </sql>

    <select id="getOperationLogs" resultMap="BaseResultMap" parameterType="com.gzs.learn.log.inf.search.UserOperationLogSearchDto">
        select
        <include refid="Base_Column_List" />
        from
        user_operation_log
        <where>
            <if test="createTimeStart != null  and createTimeEnd != null">
                create_time between #{createTimeStart} and #{createTimeEnd}
            </if>
            <if test="operatorIps != null">
                and operator_ip in(
                <foreach collection="operatorIps" item="item" separator=",">
                    #{item}
                </foreach>
                )
            </if>
            <if test="logname != null and logname !=''">
                and logname like CONCAT(#{logname},'%')
            </if>
            <if test="userid != null">
                and userid=#{userid}
            </if>
        </where>
        order by
        id desc
    </select>

    <update id="truncate">
        truncate table sys_operation_log
    </update>
</mapper>
