<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.serial.mapper.SerialAllocMapper">
    <resultMap id="BaseResultMap" type="com.ruoyi.serial.domain.SerialAlloc" >
        <id column="biz_tag" property="key" jdbcType="VARCHAR"/>
        <result column="max_id" property="maxId" jdbcType="BIGINT"/>
        <result column="step" property="step" jdbcType="INTEGER"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        biz_tag, max_id, step,description,status,create_time,update_time
    </sql>
    
    
    <select id="getSerialAlloc" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
            <include refid="Base_Column_List"/>
        FROM 
            serial_alloc 
        WHERE 
            biz_tag = #{tag}
    </select>

    <update id="updateMaxId" parameterType="java.lang.String">
        UPDATE serial_alloc SET max_id = max_id + step WHERE biz_tag = #{tag}
    </update>
    
    <update id="updateSerialAllocStatus" parameterType="java.util.Map">
        UPDATE serial_alloc SET status=#{status} WHERE biz_tag = #{tag}
    </update>
    
    <update id="updateMaxIdByCustomStep" parameterType="java.util.Map">
        UPDATE serial_alloc SET max_id = max_id + #{step} WHERE biz_tag = #{key}
    </update>
    
    <select id="getAllTags" resultType="java.lang.String">
        SELECT 
            biz_tag 
        FROM 
            serial_alloc
        WHERE
            status = 0
    </select>
    
    <select id="search" parameterType="com.ruoyi.serial.dto.SegmentSearchDto" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM 
            serial_alloc 
        WHERE
            status != 2
            <if test="name != null and name != ''">
                 and biz_tag like concat('%', #{name},'%')
            </if>
    </select>
    
    <insert id="saveSerial" parameterType="com.ruoyi.serial.domain.SerialAlloc">
        insert into serial_alloc
        (
            biz_tag, max_id, step,status,
            description,create_time
        )
        values
        (
            #{key,jdbcType=VARCHAR},#{maxId,jdbcType=BIGINT},#{step,jdbcType=INTEGER},#{status,jdbcType=INTEGER},
            #{description,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <update id="updateSerialAlloc" parameterType="com.ruoyi.serial.domain.SerialAlloc">
        UPDATE serial_alloc
        <set>
            <if test="maxId != null">
                max_id=#{maxId},
            </if>
            <if test="step != null">
                step=#{step},
            </if>
            <if test="maxId != null">
                max_id=#{maxId},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="description != null">
                description=#{description}
            </if>
        </set>
        WHERE
            biz_tag = #{key}
    </update>
</mapper> 