<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzs.learn.rbac.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.gzs.learn.rbac.po.MenuPo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="pcode" jdbcType="VARCHAR" property="pcode" />
        <result column="pcodes" jdbcType="VARCHAR" property="pcodes" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="icon" jdbcType="VARCHAR" property="icon" />
        <result column="url" jdbcType="VARCHAR" property="url" />
        <result column="num" jdbcType="INTEGER" property="num" />
        <result column="levels" jdbcType="INTEGER" property="levels" />
        <result column="ismenu" jdbcType="INTEGER" property="ismenu" />
        <result column="tips" jdbcType="VARCHAR" property="tips" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="isopen" jdbcType="INTEGER" property="isopen" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createtime" />
        <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp"  />
    </resultMap>

    <sql id="Base_Column_List">
        id, code, pcode, pcodes, name, icon, url, num, levels, ismenu, tips, status, isopen,create_time,timestamp
    </sql>

    <select id="searchMenus" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
        	<include refid="Base_Column_List"/>
        from 
            sys_menu
        where 
            status = 1
        <if test="condition != null and condition != ''">
            and (name like CONCAT('%',#{condition},'%') or code like CONCAT('%',#{condition},'%'))
        </if>
        <if test="level != null and level != ''">
            and levels = #{level}
        </if>
    </select>

    <select id="menuTreeList" resultType="com.gzs.learn.rbac.inf.ZTreeNode">
        SELECT
        	m1.id AS id,m1. NAME AS NAME,
        	(CASE WHEN (m2.id = 0 OR m2.id IS NULL) THEN 0 ELSE m2.id END) AS pId,
        	(CASE WHEN (m2.id = 0 OR m2.id IS NULL) THEN 'true' ELSE 'false' END) as isOpen
        FROM
        	sys_menu m1
        	LEFT JOIN sys_menu m2 ON m1.pcode = m2.CODE
        ORDER BY
        	m1.id ASC
    </select>

    <select id="menuTreeListByMenuIds" resultType="com.gzs.learn.rbac.inf.ZTreeNode">
        SELECT
        	m1.id AS id,m1. NAME AS NAME,
        	(CASE WHEN (m2.id = 0 OR m2.id IS NULL) THEN 0 ELSE m2.id END) AS pId,
        	(CASE WHEN (m2.id = 0 OR m2.id IS NULL) THEN 'true' ELSE 'false' END) as isOpen,
        	(CASE WHEN (m3.ID = 0 OR m3.ID IS NULL) THEN 'false' ELSE 'true' END) as "checked"
        FROM
        	sys_menu m1
        	left join sys_menu m2 ON m1.pcode = m2. CODE
        	left join 
        	(
        		SELECT
        			ID
        		FROM
        			sys_menu
       			WHERE
        			ID IN
       			 	<foreach collection="list" index="index" item="i" open="(" separator="," close=")">
            			#{i}
        			</foreach>
        	) m3 on m1.id = m3.id
        ORDER BY
        	m1.id ASC
    </select>

    <select id="getResUrlsByRoleId" resultType="string" parameterType="java.util.Map">
        select 
        	url 
        from
        	sys_relation rel
         	join sys_menu m on rel.menuid = m.id
        where 
        	rel.roleid = #{roleId}
    </select>

    <select id="getMenusByRoleIds" resultType="com.gzs.learn.rbac.inf.MenuNodeDto" parameterType="java.util.Map">
        SELECT
        	m1.id AS id,
        	m1.icon AS icon,
        	m1.NAME as name,
        	m1.url as url,
        	m1.levels as levels,
        	m1.ismenu as ismenu,
        	m1.num as num,
        	(CASE WHEN (m2.id = 0 OR m2.id IS NULL) THEN 0 ELSE m2.id END) AS parentId
        FROM
        	sys_menu m1
        	LEFT JOIN sys_menu m2 ON m1.pcode = m2.CODE
        	INNER JOIN 
        	(
        		SELECT
        			ID
        		FROM
        			sys_menu
        		WHERE
        			ID IN (
        				SELECT
        					menuid
        				FROM
        					sys_relation rela
        				WHERE
        				rela.roleid IN
				        <foreach collection="list" item="item" open="(" separator="," close=")">
				            #{item}
				        </foreach>
        			)
        	) m3 ON m1.id = m3.id
        where 
        	m1.ismenu = 1
        order by 
        	levels,num asc
    </select>
</mapper>
