<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzs.learn.rbac.dao.DictMapper">
    <resultMap id="BaseResultMap" type="com.gzs.learn.rbac.po.DictPo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="num" jdbcType="INTEGER" property="num" />
        <result column="pid" jdbcType="INTEGER" property="pid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="tips" jdbcType="VARCHAR" property="tips" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createtime" />
        <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp"  />
    </resultMap>

    <sql id="Base_Column_List">
        id, num, pid, name, tips
    </sql>

    <select id="search" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
           <include refid="Base_Column_List" />
        from 
            sys_dict
        where 
            pid = 0
            <if test="condition != null and condition != ''">
                AND name like CONCAT('%',#{condition},'%')
            </if>
        order by 
            id DESC
    </select>
</mapper>
