<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzs.learn.rbac.dao.RoleMapper">

    <resultMap id="BaseResultMap" type="com.gzs.learn.rbac.po.RolePo">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="num" jdbcType="INTEGER" property="num" />
        <result column="pid" jdbcType="INTEGER" property="pid" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="dept_id" jdbcType="INTEGER" property="deptid" />
        <result column="tips" jdbcType="VARCHAR" property="tips" />
        <result column="version" jdbcType="INTEGER" property="version" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createtime" />
        <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp"  />
    </resultMap>

    <sql id="Base_Column_List">
        id, num, pid, name, dept_id, tips, version,create_time,timestamp
    </sql>

    <select id="searchRoles" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            sys_role
        <where>
            <if test="condition != null">
                name like CONCAT('%',#{condition},'%')
            </if>
        </where>
    </select>

    <select id="roleTreeListByRoleId" resultType="com.gzs.learn.rbac.inf.ZTreeNode">
        SELECT
            r.id,r.pId,r.name,
            (CASE WHEN (r.pId = 0 OR r.pId IS NULL) THEN 'true' ELSE 'false' END) as open
        FROM
            sys_role r
        <where>
            <if test="roleIds != null">
                id in 
                <foreach collection="roleIds" index="index" item="i" open="(" separator="," close=")">
                    #{i}
                </foreach>
            </if>
        </where>
        ORDER BY
            r.pId,r.num ASC
    </select>

</mapper>
