<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzs.learn.rbac.dao.UserMapper">
    <resultMap id="BaseResultMap" type="com.gzs.learn.rbac.po.UserPo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="salt" jdbcType="VARCHAR" property="salt" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
        <result column="sex" jdbcType="INTEGER" property="sex" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
        <result column="role_id" jdbcType="VARCHAR" property="roleId" />
        <result column="dept_id" jdbcType="INTEGER" property="deptId" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="version" jdbcType="INTEGER" property="version" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createtime" />
        <result column="timestamp" jdbcType="TIMESTAMP" property="timestamp"  />
    </resultMap>

    <sql id="Base_Column_List">
        id,avatar,account,password,salt,name,birthday,sex,email,phone,role_id,dept_id,status,version,create_time,timestamp
    </sql>

    <select id="selectUsers" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
            <include refid="Base_Column_List"/>
        from
            sys_user
        where 
            status != 3
        <if test="userSearchDto.name != null and userSearchDto.name != ''">
            and (phone like CONCAT('%',#{userSearchDto.name},'%')
            or account like CONCAT('%',#{userSearchDto.name},'%')
            or name like CONCAT('%',#{userSearchDto.name},'%'))
        </if>
        <if test="userSearchDto.deptId != null and userSearchDto.deptId != 0">
            and (dept_id = #{userSearchDto.deptId}
            or dept_id in ( select id from sys_dept where pids like CONCAT('%[', #{userSearchDto.deptId}, ']%') ))
        </if>
        <if test="userSearchDto.beginTime != null and userSearchDto.beginTime != '' and userSearchDto.endTime != null and userSearchDto.endTime != ''">
            and (createTime between CONCAT(#{userSearchDto.beginTime},' 00:00:00') and CONCAT(#{userSearchDto.endTime},' 23:59:59'))
        </if>
    </select>

    <select id="getByAccount" resultMap="BaseResultMap" parameterType="java.util.Map">
        select
            <include refid="Base_Column_List"/>
        FROM
            sys_user
        where 
            account = #{account}
            <if test="status != null">
                and status in (
                <foreach collection="status" item="item" separator=",">
                    ${item}
                </foreach>
                )
            </if>
    </select>
</mapper>
